.new-tweet {
 width: 50%;
 margin-bottom: 10px;

  
}

.submitTweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  width:100%;
  border-color: transparent;
  border-bottom: 2px solid black;
}

.submitTweet button {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  color: white;
}

.counter {
  font-family: "Bungee", sans-serif;
  color: black;
}

